@import url('https://fonts.googleapis.com/css2?family=Montserrat:500');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #24252A;
}


li,a,button{
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size:16px ;
    color: #edf0f1;
    text-decoration: none;
}


header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10%;
}

img.logo{
    cursor: pointer;
    margin-right: auto;
    max-width:10%;
    height:auto;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

.dropdown-button { 
    background-color: #24252A; 
    color: white; 
    padding: 16px; 
    font-size: 16px; 
    border: none; 
  } 
  .dropdown { 
    position: relative; 
    display: inline-block;
    font-family:"Montserrat",sans-serif;
    font-weight: 500;
    font-size:16px ;
    color: #edf0f1; 
    padding-bottom:1rem ;
  } 
  
  .dropdown-list { 
    display: none; 
    position: absolute; 
    background-color: #24252A; 
    min-width: 160px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
  } 
  
  .dropdown-list a { 
    color: #edf0f1; 
    padding: 12px 16px; 
    text-decoration: none; 
    display: block; 
    font-family: verdana; 
  } 
  
  .dropdown-list a:hover { 
    background-color: #ddd; 
  } 
  
  .dropdown:hover .dropdown-list { 
    display: block; 
  } 
  
  .dropdown:hover .dropdown-button { 
    background-color: #24252A; 
  } 

.cta{
    padding-bottom: 1rem;
}

button{
    padding:9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0,136,169,0.8);
}

.container{
    padding-bottom: 4.5rem;
}

h1.text-center{
    color: aliceblue;
}




